*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bg-color: #1b262c;
  --primary-color: #3282b8;
  --primary-dark-color: #0f4c75;
  --top: 0px;
}

body {
  background-color: var(--bg-color);
}

div.root {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.root .title {
  width: 100%;
  font-size: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--primary-dark-color),
    0 0 20px var(--primary-dark-color), 0 0 25px var(--primary-dark-color),
    0 0 30px var(--primary-dark-color), 0 0 35px var(--primary-dark-color);
  padding-top: 50px;
}

.root .water-box {
  position: relative;
  width: 400px;
  height: 500px;
  border-radius: 30px;
  border: 5px solid #ffffff;
  border-top: none;
  background-color: transparent;
  overflow: hidden;
}

.root .water-box::before {
  content: "";
  width: 600px;
  height: 600px;
  border-radius: 40%;
  position: absolute;
  background-color: var(--primary-color);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation: rotate 7s ease-in-out infinite;
  z-index: -1;
  top: var(--top);
}

.root .water-box .water-percent {
  font-size: 32px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--primary-dark-color),
    0 0 20px var(--primary-dark-color), 0 0 25px var(--primary-dark-color),
    0 0 30px var(--primary-dark-color), 0 0 35px var(--primary-dark-color);
  padding-top: 100px;
}
/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}

@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
